build/
frostmark
frostmark.exe
baker
baker.exe
frostmark.html
frostmark.js
frostmark.wasm
frostmark.data
*.sav
vendor/*
!vendor/raylib
assets/textures/
assets/models/
assets/fonts/
assets/audio/
assets/heightmap.png
